# Ignore virtual environments
venv/
.venv/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore test results
results/

# Ignore environment variables
.env

# Ignore xml files
*.xml
*.html

# Ignore IDE files
*.idea
.vscode/
